.TopNav, .BotNav {
  display: flex;
  justify-content: center;
  gap: 5rem; 
  
}

.nav-item {
  font-size: 1.5rem;
  margin-top: 2rem;
  width: 200px; 
  text-align: center;
  padding: 15px;
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 8px;
  transition: transform 0.6s ease, box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  
}

.nav-item:hover {
  transform: scale(1.15);
  box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
  color: inherit;
}
